body {
    background-image: url('https://github.com/persinha/persinha#:~:text=14%20minutes%20ago-,fundo%20habbo.gif,-Add%20files%20via');
    background-size: cover; /* Ajusta a imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat; /* Evita repetição da imagem */
}
